footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 5rem;
   margin-top: 1rem;
}

footer button {
   background-color: transparent;
   border: 1px solid var(--headerOutline);
   color: var(--white);
   text-transform: uppercase;
   padding: 0.5rem 1rem;
   border-radius: 5px;
   font-size: 1rem;
   cursor: pointer;
}

footer .rule-btn {
   margin-left: auto;
}
